h1 {
    font-size: 3rem;
    position: absolute;  
   text-align: center;
}
body{
    text-align: center;
}
#welcome-modal{
    height: fit-content;
    width: fit-content;
    display: block;
}
#win-msg{
    position: absolute;
}
.blink {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
#player, 
#dealer {
     width: 100%;
    height: 100%; 
    padding-top: 50px;
    padding-bottom: 50px; 
    background-color: steelblue;
    
}

#scores{
    float:left;
    padding-left: 150px;
    font-size: larger;
}
#bet{
    margin-top: 20px;
}
img{
    width: 5%
}
@media only screen and (max-width: 480px) {
    img {
      width: 20%;
    }
  }