h1 {
    font-size: 10rem;
    position: absolute;  
    text-align: center;
}
/* #win-msg{
     */

#player, 
#dealer {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: steelblue;
    
}
#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
#green{
    background-color: green;
}
#chips{
    display: block;
    float: left;
    margin-top: 40px;
}
/* .chips{
   
   
} */
img{
    width: 5%
}
@media only screen and (max-width: 480px) {
    img {
      width: 20%;
    }
  }